<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AEDIG</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  {% load static %}
  <!-- Favicons -->
  <link href={% static 'img/favicon.ico' %} rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href={% static "lib/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href={% static "lib/font-awesome/css/font-awesome.min.css" %} rel="stylesheet">
  <link href={% static "lib/animate/animate.min.css" %} rel="stylesheet">
  <link href={% static "lib/ionicons/css/ionicons.min.css" %} rel="stylesheet">
  <link href={% static "lib/owlcarousel/assets/owl.carousel.min.css" %} rel="stylesheet">
  <link href={% static "lib/magnific-popup/magnific-popup.css" %} rel="stylesheet">
  <link href={% static "lib/ionicons/css/ionicons.min.css" %} rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href={% static "css/style.css" %} rel="stylesheet">

  <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="body">

  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">aedig@aedig.com</a>
        <i class="fa fa-phone"></i> +509 3832 5242
      </div>
      <div class="social-links float-right">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- <h1><a href="#body" class="scrollto">AE<span>DIG</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="#body"><img src="img/logo.jpg" alt="" title="" /></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#body">Acceuil</a></li>
          <li><a href="#about">A Propos</a></li>
          <li><a href="#services">AEDIG</a></li>
          <li><a href="#portfolio">Galerie</a></li>
          <li><a href="#team">Equipe</a></li>
          <!-- <li class="menu-has-children"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li> -->
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-content">
      <h2>Association <span>des Entrepreneurs</span><br> Digicel</h2>
      <div>
        <a href="#about" class="btn-get-started scrollto">Qui Sommes Nous</a>
        <a href="AEDIG (BROCHURE francais).pdf" class="btn-projects scrollto">Telecharger notre pdf</a>
      </div>
    </div>

    <div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url({% static 'img/intro-carousel/1.jpg' %});"></div>
      <div class="item" style="background-image: url({% static 'img/intro-carousel/2.jpg' %});"></div>
      <div class="item" style="background-image: url({% static 'img/intro-carousel/3.jpg' %});"></div>
      <div class="item" style="background-image: url({% static 'img/intro-carousel/4.jpg' %});"></div>
      <div class="item" style="background-image: url({% static 'img/intro-carousel/5.jpg' %});"></div>
    </div>

  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src={% static "img/about-img.jpg" %} class="img img-rounded" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>A propos  de l'AEDIG</h2>
            <h3>Une organisation natinale pour representer les interets de la communaute des entrepreneurs d'Haiti et pour promouvoir une economie mene par l'entreprise</h3>

            <ul>
              <li><i class="ion-android-checkmark-circle"></i> Les vainqueus et finaliste du programme DIgicel Entrepreneur de l'annee en Haiti se sont reunis en 2016 pour lancer une nouvelle association nationale capable de donner une voix rafraichisante capable de donner une voix rafraichissante aux entreprise tout en promouvant une economie moderne, socialement responsable et axee sur l'entreprise</li>
              <li><i class="ion-android-checkmark-circle"></i> Quoique les entrepruneur ont tendance a se focaliser sur leur propres ressources, ils valorisent tout de meme le reseautage et le soutient mutuel. l'Association des Entrepreneurs Digicel (AEDIG) vise en ce sens, a renforcer les capacite de ses membres a travers un accompagnement personalise, l'education et le reseautage. Les membre de l'AEDIG savent qu'ils sont plus a gangner ensemble que separes. aussi, sont-ils conscients que c'est seulement en travaillant conjointement qu'ils peuvent contribuer a un veritable changement.</li>
              <li><i class="ion-android-checkmark-circle"></i> Plus de 500 finalistes des annees anterieure du programme Digicel Entrepreneur de l'annee constitue l'epine dorsale de l'AEDIG ce qui lui conferent une enorme diversite, et representant tout les secteur d'activite dans tous les recoins du pays. Cette diversite sociale qui predomine entre les membres de l'association, signifie qu'ils ont de profondes racines economiques et familliale dans les diverse collectvite locale a travers le pays ; et ces racines pour leur part, demontrent le statut indeniable de l'association, capable d'etre une voix representative et nationale pour les entrepreneurs.</li>
              <li><i class="ion-android-checkmark-circle"></i>.......</li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Qu'est ce qui differencie AEDIG?</h2>
          <p>Etant donne la grande diversite sociale de ses membres, AEDIG est une voix representative pour les entrepreneurs a l'echelle nationale. Elle compte deja plus de 500 membres affilies ayant des interets comerciaux dans pas moins de 10 secteurs d'affaires distincts.</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fa fa-pagelines"></i></div>
              <h4 class="title"><a href="">Agriculture</a></h4>
              <p class="description"></p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="fa fa-linode"></i></div>
              <h4 class="title"><a href="">Artisinat</a></h4>
              <p class="description"></p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-building"></i></div>
              <h4 class="title"><a href="">Construction</a></h4>
              <p class="description"></p>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-graduation-cap"></i></div>
              <h4 class="title"><a href="">Education</a></h4>
              <p class="description"></p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fa fa-lightbulb-o"></i></div>
              <h4 class="title"><a href="">Environnement / Energie</a></h4>
              <p class="description"></p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="fa fa-hospital-o"></i></div>
              <h4 class="title"><a href="">Hotel et Restaurant</a></h4>
              <p class="description"></p>
            </div>
          </div>


        </div>

        <div class="row">
            <div class="col-lg-4">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-industry"></i></div>
              <h4 class="title"><a href="">Indistrie</a></h4>
              <p class="description"></p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-plus-square"></i></div>
              <h4 class="title"><a href="">Sante</a></h4>
              <p class="description"></p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-signal"></i></div>
              <h4 class="title"><a href="">Services / Technologie</a></h4>
              <p class="description"></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-map"></i></div>
              <h4 class="title"><a href="">Tourisme et Culture</a></h4>
              <p class="description"></p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Mission</h2>
          <p>Vu l'energie, la determination et la vision que cela necessite pour materialiser une idee intuitive, brillante en succes, ils s'avere que les entrepreneur ont beaucoup plus a dire et a faire que la plupart des gens. Nous en sommes tous profondement convaincus et le disont haut et fort, tel que stipule la devise de notre pays l'<b> Union fait la force </b> .</p>
        </div>

        <ul>
          <li><i class="ion-android-checkmark-circle"></i> <b>Promouvoir la culture entrepreneuriale: </b> en faisant le plaidoyer d'une economie axee autour de l'entreprenariat</li>
          <li><i class="ion-android-checkmark-circle"></i> <b>Assurer le coaching de nos membres: </b> en fournissant l'accompagnement necessaire, donnant acces aux informations et aux formations essentielles, et en facilitant la communication et le reseautage</li>
          <li><i class="ion-android-checkmark-circle"></i> <b>Garantir la protection de nos membres: </b> en assurant la defense de leur interets</li>
          <li><i class="ion-android-checkmark-circle"></i> <b>Promouvoir les initiatives entrepreneuriale: </b> en faisant le plaidoyer d'une economie axee autour de l'entreprenariat</li>
          <li><i class="ion-android-checkmark-circle"></i> <b>Promouvoir la culture entrepreneuriale: </b> en encourageant, facilitant et consolidant les activites commerciales de nos membres</li>
          <li><i class="ion-android-checkmark-circle"></i> <b>Fournir un service d'ecoute: </b> en prenant compte les suggestions de nos membres, et en identifiant les defits auxquels ils ont face</li>
          <li><i class="ion-android-checkmark-circle"></i> <b>Promouvoir : </b> l'excellence de nos entreprises et la production locale</li>
          <li><i class="ion-android-checkmark-circle"></i> <b>Transmettre, Partager: </b> en encourageant nos membres a diffuser leur connaissances et leurs experiences.</li>
        </ul>
      </div>
    </section><!-- #clients -->

    <!--==========================
      Our Portfolio Section
    ============================-->
    <section id="portfolio" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Galerie</h2>
          <p>Galerie photos de AEDIG</p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href={% static "img/portfolio/1.jpg" %} class="portfolio-popup">
                <img src={% static "img/portfolio/1.jpg" %} alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">AEDIG Galerie de photos</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href={% static "img/portfolio/2.jpg" %} class="portfolio-popup">
                <img src={% static "img/portfolio/2.jpg" %} alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">AEDIG Galerie de photos</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href={% static "img/portfolio/3.jpg" %} class="portfolio-popup">
                <img src={% static "img/portfolio/3.jpg" %} alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">AEDIG Galerie de photos</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href={% static "img/portfolio/4.jpg" %} class="portfolio-popup">
                <img src={% static "img/portfolio/4.jpg" %} alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">AEDIG Galerie de photos</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href={% static "img/portfolio/5.jpg" %} class="portfolio-popup">
                <img src={% static "img/portfolio/5.jpg" %} alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">AEDIG Galerie de photos</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href={% static "img/portfolio/6.jpg" %} class="portfolio-popup">
                <img src={% static "img/portfolio/6.jpg" %} alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">AEDIG Galerie de photos</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href={% static "img/portfolio/7.jpg" %} class="portfolio-popup">
                <img src={% static "img/portfolio/7.jpg" %} alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">AEDIG Galerie de photos</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href={% static "img/portfolio/8.jpg" %} class="portfolio-popup">
                <img src={% static "img/portfolio/8.jpg" %} alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">AEDIG Galerie de photos</h2></div>
                </div>
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Testimonials Section
    ============================-->
    <section id="testimonials" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>TÉMOIGNAGES</h2>
          <p>Declaration sur l'AEDIG</p>
        </div>
        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
              <p>
                <img src={% static "img/quote-sign-left.png" %} class="quote-sign-left" alt="">
                En tant que porte-parole des petites et Moyennes entreprises, l'AEDIG promeut l'Excellence en affaires en connectant entre eux les entrepreneurs, les aidant a etablir des partenariats, leur donnant acces aux informations de pointe et en assurant la formation continue des cadres. 
                <img src={% static "img/quote-sign-right.png" %} class="quote-sign-right" alt="">
              </p>
              <img src={% static "img/testimonial-2.jpg" %}  class="testimonial-img" alt="">
              <h3>Myrtha Vilbon</h3>
              <h4>Presidente, AEDIG</h4>
            </div>

            <!-- <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-5.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
            </div>
 -->
        </div>

      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">AEDIG</h3>
            <p class="cta-text">
                <img src={% static "img/quote-sign-left.png" %} class="quote-sign-left" alt="">
                Ensemble et d'une seule voix, nous sommes les leaders du changement
                <img src={% static "img/quote-sign-right.png" %} class="quote-sign-right" alt="">
              </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#contact">Contacter Nous</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Our Team Section
    ============================-->
    <section id="team" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Membres du conseils</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src={% static "img/patrick.jpg" %} alt=""></div>
              <div class="details">
                <h4>Myrtha Vilbon</h4>
                <span>Presidente, PDG Glory Indistries</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src={% static "img/patrick.jpg" %} alt=""></div>
              <div class="details">
                <h4>Athanese Louis</h4>
                <span>Premier Vice President, PDG Atalou Microsystem</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src={% static "img/patrick.jpg" %} alt=""></div>
              <div class="details">
                <h4>Jean Odelin Ordelus</h4>
                <span>Deuxiem Vice President, PDG OD Peint Groupe Construction</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src={% static "img/patrick.jpg" %} alt=""></div>
              <div class="details">
                <h4>Daphnee Floreal</h4>
                <span>Tresoriere, PDG Bijou Lakay</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src={% static "img/patrick.jpg" %} alt=""></div>
              <div class="details">
                <h4>Max Larson Henry</h4>
                <span>Secretaire, PDG Transversal</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src={% static "img/patrick.jpg" %} alt=""></div>
              <div class="details">
                <h4>Myrna Verdier</h4>
                <span>Conseilliere, PDG Ferme des Antilles</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src={% static "img/patrick.jpg" %} alt=""></div>
              <div class="details">
                <h4>Yves Francois </h4>
                <span>Conseiller, PDG YCF Group</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src={% static "img/patrick.jpg" %} alt=""></div>
              <div class="details">
                <h4>Brona Cusack</h4>
                <span>Conseilliere, Directrice de programme Digicel Entrepreneur de l'Annee</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src={% static "img/patrick.jpg" %} alt=""></div>
              <div class="details">
                <h4>Lionel Pressoir</h4>
                <span>Conseiller, PDG Tour Haiti/Logistic S.A</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Contact</h2>
          <p>Veuillez nous contacter</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Adresse</h3>
              <address>38 bis rue Darguin Petion-Ville, Haiti - HT6140</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+155895548855">+509 3740 3130</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">Aedig.haiti@gmail.com</a></p>
            </div>
          </div>

        </div>
      </div>

      <div class="container mb-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3783.3457159696513!2d-72.28385!3d18.513273!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eb9e87d5e706915%3A0xa1625fe8686e8e20!2s38+Rue+Darguin%2C+Port-au-Prince!5e0!3m2!1sen!2sht!4v1553468875296" width="1366" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <div class="container">
        <div class="form">
          
          <form action="" method="post" id="myForm" role="form" class="contactForm">{% csrf_token %}
            <div class="section-header">
              <h2>Formulaire de contact</h2>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Votre Nom" data-rule="minlen:4" data-msg="Enter au moins 4 caractères" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Votre Email" data-rule="email" data-msg="Cette adresse email n'est pas valide" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujets" data-rule="minlen:4" data-msg="Votre sujet doit contenir au moins 8 caractères" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Svp, dit quelque chose" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit" id="sub">Envoyez Message</button></div>
            <div id="sendmessage"><img src={% static 'img/env.png' %} width="40" height="40"> Votre message a été envoyé. Merci! On vous contactera sous peu.</div>
            <div id="loadingmessage"><img src={% static 'img/send.gif' %} width="40" height="40"> Envoie du message en cours d'exécution</div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>AEDIG</strong>. tous droit reserve
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
        -->
        Designed by <a href="#">Ralph Winner Deus</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src={% static "lib/jquery/jquery.min.js" %}></script>
  <script src={% static "lib/jquery/jquery-migrate.min.js" %}></script>
  <script src={% static "lib/bootstrap/js/bootstrap.bundle.min.js" %}></script>
  <script src={% static "lib/easing/easing.min.js" %}></script>
  <script src={% static "lib/superfish/hoverIntent.js" %}></script>
  <script src={% static "lib/superfish/superfish.min.js" %}></script>
  <script src={% static "lib/wow/wow.min.js" %}></script>
  <script src={% static "lib/owlcarousel/owl.carousel.min.js" %}></script>
  <script src={% static "lib/magnific-popup/magnific-popup.min.js" %}></script>
  <script src={% static "lib/sticky/sticky.js" %}></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>
  <!-- Contact Form JavaScript File -->
  <script src={% static "contactform/contactform.js" %} charset="utf-8"></script>

  <!-- Template Main Javascript File -->
  <script src={% static "js/main.js" %}></script>

</body>
</html>
